@using Contrack
@model ContainerBooking

<style>
    .ck-editor__editable {
        min-height: 150px;
    }
</style>

<div class="summary-card">
    <div class="summary-card-header">
        <h3 class="header-title">Booking Summary</h3>
    </div>

    <div class="summary-card-body">
        <form id="formBookingSummary">
            @Html.HiddenFor(m => m.bookingSummary.summaryid.EncryptedValue)
            @Html.HiddenFor(m => m.bookingSummary.summaryuuid)
            @Html.HiddenFor(m => m.bookingSummary.bookinguuid)

            <div class="flex items-center gap-3 mt-6 mb-8">
                <label class="switch">
                    @Html.CheckBoxFor(m => m.bookingSummary.intramodal_transport, new { @id = "intramodal_transport" })
                </label>
                <label class="form-label mb-0">
                    Intramodal Transport
                </label>
            </div>

            <div class="grid lg:grid-cols-2 gap-6">
                <div class="flex flex-col gap-2.5">
                    <div class="flex justify-between items-center">
                        <label class="form-label">
                            Stuffing / Unstuffing Units <span class="text-danger ps-2">*</span>
                        </label>
                        <label class="switch">
                            <span class="switch-label">N/A</span>
                            <input type="checkbox" onchange="toggleNA(this,'stuffing_unstuffing_units')" />
                        </label>
                    </div>

                    <div id="wrap_stuffing_unstuffing_units">
                        @Html.TextAreaFor(m => m.bookingSummary.stuffing_unstuffing_units, new { @rows = "2", @class = "textarea w-full", @id = "stuffing_unstuffing_units", @datarequired = "yes", @datarequired_message = "Please enter Stuffing / Unstuffing Units" })
                    </div>
                </div>

                <div class="flex flex-col gap-2.5">
                    <div class="flex justify-between items-center">
                        <label class="form-label">
                            Pickup & Return Empty Units <span class="text-danger ps-2">*</span>
                        </label>
                        <label class="switch">
                            <span class="switch-label">N/A</span>
                            <input type="checkbox" onchange="toggleNA(this,'pickupandreturn_empty_rentalunits')" />
                        </label>
                    </div>

                    <div id="wrap_pickupandreturn_empty_rentalunits">
                        @Html.TextAreaFor(m => m.bookingSummary.pickupandreturn_empty_rentalunits, new { @rows = "2", @class = "textarea w-full", @id = "pickupandreturn_empty_rentalunits", @datarequired = "yes", @datarequired_message = "Please enter Pickup & Return Empty Units" })
                    </div>
                </div>

                <div class="flex flex-col gap-2.5">
                    <div class="flex justify-between items-center">
                        <label class="form-label">
                            Dropoff <span class="text-danger ps-2">*</span>
                        </label>
                        <label class="switch">
                            <span class="switch-label">N/A</span>
                            <input type="checkbox" onchange="toggleNA(this,'dropoff')" />
                        </label>
                    </div>
                    <div id="wrap_dropoff">
                        @Html.TextAreaFor(m => m.bookingSummary.dropoff, new { @rows = "2", @class = "textarea w-full", @id = "dropoff", @datarequired = "yes", @datarequired_message = "Please enter Dropoff details" })
                    </div>
                </div>

                <div class="flex flex-col gap-2.5">
                    <label class="form-label">
                        Currency <span class="text-danger ps-2">*</span>
                    </label>
                    @Html.DropDownListFor(m => m.bookingSummary.currency, new SelectList(ViewBag.CurrencyDropdown, "Value", "Text", Model.bookingSummary.currency),
                    new { @class = "form-control select2", @id = "ddlCurrency", @datarequired = "yes", @datarequired_message = "Please select Currency" })
                </div>
            </div>

            <div class="grid grid-cols-2 gap-6 mt-2">
                <div class="flex flex-col gap-2.5">
                    <label class="form-label">
                        Free Time POL <span class="text-danger ps-2">*</span>
                    </label>
                    @Html.TextBoxFor(m => m.bookingSummary.freetimepol, new { @class = "input w-full focus-input", @datarequired = "yes", @datarequired_message = "Please enter Free Time POL" })
                </div>

                <div class="flex flex-col gap-2.5">
                    <label class="form-label">
                        Free Time POD <span class="text-danger ps-2">*</span>
                    </label>
                    @Html.TextBoxFor(m => m.bookingSummary.freetimepod, new { @class = "input w-full focus-input", @datarequired = "yes", @datarequired_message = "Please enter Free Time POD" })
                </div>

                <div class="flex flex-col gap-2.5">
                    <label class="form-label">
                        Freight Charge Amount <span class="text-danger ps-2">*</span>
                    </label>
                    @Html.TextBoxFor(m => m.bookingSummary.freightchargeamount, new { @class = "input w-full focus-input", @datarequired = "yes", @datarequired_message = "Please enter Freight Charge Amount" })
                </div>

                <div class="flex flex-col gap-2.5">
                    <label class="form-label">
                        Total Other Charges <span class="text-danger ps-2">*</span>
                    </label>
                    @Html.TextBoxFor(m => m.bookingSummary.totalothercharges, new { @class = "input w-full focus-input", @datarequired = "yes", @datarequired_message = "Please enter Total Other Charges" })
                </div>
            </div>

            <div class="flex flex-col gap-2.5 mt-5">
                <label class="form-label">
                    Freight Charge Comments <span class="text-danger ps-2">*</span>
                </label>
                @Html.TextAreaFor(m => m.bookingSummary.freightchargecomments, new { @rows = "3", @class = "textarea w-full", @datarequired = "yes", @datarequired_message = "Please enter Freight Charge Comments" })
            </div>

            <div class="flex flex-col gap-2.5 mt-5">
                <label class="form-label">
                    Additional Terms & Conditions <span class="text-danger ps-2">*</span>
                </label>
                @Html.TextAreaFor(m => m.bookingSummary.additionalterms, new { @id = "editor1", @class = "textarea w-full", @rows = "3", @datarequired = "yes", @datarequired_message = "Please enter Additional Terms & Conditions" })
            </div>

            <div class="mt-10 pt-6 border-t">
                <div class="flex justify-between items-center mb-4">
                    <h4 class="font-semibold text-gray-800 text-lg">Other Fees</h4>
                    <button type="button" class="btn btn-sm btn-outline btn-primary" onclick="OpenOtherFeesModal('');">
                        <i class="ki-filled ki-plus"></i>
                        Add Other Fees
                    </button>
                </div>
                <div id="otherFeesContainerTable">
                    @Html.Partial("_OtherFeesTable", Model)
                </div>
            </div>
        </form>
    </div>
</div>

<div id="modalsection"></div>