@using Contrack;
@model ContainerBooking
@{
    ViewBag.Title = "Container List";
    ViewBag.MainManu = "Booking";
    ViewBag.SubManu = "Booking";
    ViewBag.TabName = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Booking/booking.css?v=1.0.2" rel="stylesheet" />
<link href="~/css/Container/containerBooking.css?v=2.0.1" rel="stylesheet" />
@using (Html.BeginForm("CustomerSelection", "Booking", FormMethod.Post, new { @id = "frmCustomerSelection" }))
{
    @Html.HiddenFor(x => x.booking.bookingid.EncryptedValue, new { @id = "hdnBookingID" })
    @Html.HiddenFor(x => x.booking.bookinguuid, new { @id = "hdnbookinguuid" })  
    @Html.Hidden("SaveOnly", (bool)(ViewBag.SaveOnly ?? false))
    @Html.Partial("_BookingHeader", Model.booking.bookinguuid)
    <div class="container-fluid nobottom">
        <div class="booking-section  flex flex-col">
            <div class="booking-info">
                @*@Html.Partial("_Stepper", 1)*@
                <div class="booking-max-width">
                    <div class="booking-content">
                        <div class="page-header-holder hide">
                            <span class="head">1. Customer Selection</span>
                            <span class="subhead">Follow the steps below to complete your booking.</span>
                        </div>
                        <div class="left-section">
                            @Html.Partial("_CustomerStep", Model)
                        </div>
                    </div>
                </div>
            </div>
            <!-- Persistent Booking Summary on the side -->
            <div class="booking-summary">
                <div class="summary-content" id="summarycard">
                    @Html.Partial("_SummaryFixed", Model)
                </div>
                <div class="summary-footer">
                    <div class="flex flex-col justify-center gap-3">
                        @*<div class="warning-box">
                                <img src="~/assets/img/info-circle.svg" class="warn-icon" />
                                <p class="warn-text">
                                    This customer has <strong>5 unpaid invoices</strong> with Low
                                    <strong>conversion Rate of 20%</strong>
                                </p>
                            </div>*@
                        <button type="button" class="btn btn-gray actionbutton">
                            Cancel Booking
                        </button>
                    <button type="submit" class="btn btn-primary actionbutton" id="btnCustomerSelection">
                        @(ViewBag.SaveOnly == true ? "Save" : "Next: Location")
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section PageScripts
{
    <script src="~/js/customer.js">
    </script>
    <script src="~/js/ContainerBooking/Booking.js?v=1.0.2">
    </script>
}



