@using Contrack;
@model ContainerBooking
@{
    ViewBag.Title = "Container List";
    ViewBag.MainManu = "Booking";
    ViewBag.SubManu = "Booking";
    ViewBag.TabName = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Booking/booking.css?v=1.0.2" rel="stylesheet" />
<link href="~/css/Container/containerBooking.css?v=2.0.1" rel="stylesheet" />
@using (Html.BeginForm("LocationSelection", "Booking", FormMethod.Post, new { @id = "frmLocationSelection" }))
{
    @Html.HiddenFor(x => x.booking.bookingid.EncryptedValue, new { @id = "hdnBookingID" })
    @Html.HiddenFor(x => x.booking.bookinguuid, new { @id = "hdnbookinguuid" })
    @Html.HiddenFor(x => x.booking.location.voyageuuid, new { @id = "hdnVoyageUUID" })
    @Html.Hidden("SaveOnly", (bool)(ViewBag.SaveOnly ?? false))
    @Html.Partial("_BookingHeader", Model.booking.bookinguuid)

    <div class="container-fluid nobottom">
        <div class="booking-section  flex flex-col">
            <div class="booking-info">
                @*@Html.Partial("_Stepper", 2)*@
                <div class="booking-max-width">
                    <div class="booking-content">
                        <div class="page-header-holder hide">
                            <span class="head">2. Location Details</span>
                            <span class="subhead">Specify the origin, destination and voyage for your shipment</span>
                        </div>
                        <div class="left-section">
                            @Html.Partial("_LocationStep", Model)
                        </div>

                    </div>
                </div>
            </div>
            <!-- Persistent Booking Summary on the side -->
            <div class="booking-summary">
                <div class="summary-content" id="summarycard">
                    @Html.Partial("_SummaryFixed", Model)
                </div>
                <div class="summary-footer">
                    <div class="flex flex-col justify-center gap-3">
                        @*<div class="warning-box">
                                <img src="~/assets/img/info-circle.svg" class="warn-icon" />
                                <p class="warn-text">
                                    This customer has <strong>5 unpaid invoices</strong> with Low
                                    <strong>conversion Rate of 20%</strong>
                                </p>
                            </div>*@
                        @*<button type="button" class="btn btn-gray actionbutton">
                                Back to Customer
                            </button>*@
                        <a href="@Url.Action("CustomerSelection","Booking",new {refid=Model.booking.bookinguuid})" class="btn btn-gray actionbutton">
                            Back to Customer
                        </a>

                        @*<button type="submit" class="btn btn-primary actionbutton" id="btnLocationSelection">
                                Next: Container Details
                            </button>*@

                        <button type="submit" class="btn btn-primary actionbutton" id="btnLocationSelection">
                            @(ViewBag.SaveOnly == true ? "Save" : "Next: Container Details")
                        </button>


                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section PageScripts
{
    <script src="~/js/customer.js"></script>
    <script src="~/js/port.js"></script>
    <script src="~/js/ContainerBooking/Booking.js">
    </script>
}



