@using Contrack;
@model BookedContainer
@{
    ViewBag.Title = "Container List";
    ViewBag.MainManu = "Booking";
    ViewBag.SubManu = "Booking";
    ViewBag.TabName = "Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Booking/booking.css?v=1.0.2" rel="stylesheet" />
<link href="~/css/Container/containerBooking.css?v=2.0.1" rel="stylesheet" />
@using (Html.BeginForm("ShipmentConfirmation", "Booking", FormMethod.Post, new { @id = "frmShipmentConfirmation" }))
{
    @Html.HiddenFor(m => m.booking.bookinguuid)
    <div class="container-fluid nobottom">
        <div class="booking-section notopheader flex flex-col">
            <div class="booking-info">
                @*@Html.Partial("_Stepper", 4)*@
                <div class="booking-max-width">
                    <div class="booking-content">
                        <div class="page-header-holder">
                            <span class="head">Shipment Confirmation</span>
                            <span class="subhead">Download the shipment confirmation</span>
                        </div>
                        <div class="left-section">
                            <div>
                                <div class="folder-tab">
                                    <a style="min-width:245px;" href="@Url.Action("ShipmentConfirmation", "Booking", new { refid = Model.booking.bookinguuid})" class="tab-item active z-20">
                                        Shipment Confirmation
                                    </a>
                                    <a style="min-width:200px;" href="@Url.Action("CabotageHistory", "Booking", new { refid = Model.booking.bookinguuid})" class="tab-item z-10">
                                        Cabotage History
                                    </a>
                                </div>
                                <div class="card no-left-radius">

                                    <div class="card-table1 w-full">
                                        <table class="table table-border" id="shipment_detail_table">
                                            <thead>
                                                <tr>
                                                    <th class="w-[30px] text-center">
                                                        <label class="form-label flex items-center">
                                                            <input class="checkbox checkbox-sm" name="check" type="checkbox" onclick="EnableShipmentCheckboxAll(this)" />
                                                        </label>
                                                    </th>
                                                    <th class="w-[50px] text-center !text-gray-700">
                                                        S.No
                                                    </th>
                                                    <th class="text-start w-[200px] w-item !text-gray-700">
                                                        Container Number
                                                    </th>
                                                    <th class="!text-gray-700">
                                                        Stamp No
                                                    </th>
                                                    <th class="!text-gray-700">
                                                        Weight (Kgs)
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{

                                                    string typesizecombined = "";
                                                    for (int i = 0; i < Model.containers.Count; i++)
                                                    {
                                                        string headingvalue = Model.containers[i].ContainerTypeID + "_" + Model.containers[i].ContainerSizeID;
                                                        string heading = "";
                                                        var matcheditem = Model.booking.details.FirstOrDefault(x => x.sizeid.NumericValue == Model.containers[i].ContainerSizeID && x.containertypeid.NumericValue == Model.containers[i].ContainerTypeID);
                                                        if (matcheditem != null)
                                                        {
                                                            heading = matcheditem.qty + " x " + matcheditem.sizename + " " + matcheditem.containertypename + " <span class='dot'></span> " + (matcheditem.empty_full == "E" ? "Empty" : "Full") + " <span class='dot'></span> " + Display.DisplayStringNA(matcheditem.commodity);
                                                        }
                                                        if (typesizecombined == "" || typesizecombined != (Model.containers[i].ContainerTypeID + "," + Model.containers[i].ContainerSizeID))
                                                        {
                                                            <tr class="bg-border-greenshadow">
                                                                <td class="text-center">
                                                                    <label class="form-label flex items-center">
                                                                        <input class="checkbox checkbox-sm" name="check" type="checkbox" value="1" onclick="EnableShipmentCheckbox(this,'@headingvalue')" />
                                                                    </label>
                                                                </td>
                                                                <td colspan="4" class=" p-5">
                                                                    <span class="flex gap-3 items-center text-gray-900 font-semibold text-md">
                                                                        @Html.Raw(heading)
                                                                    </span>
                                                                </td>

                                                            </tr>
                                                        }
                                                        typesizecombined = Model.containers[i].ContainerTypeID + "," + Model.containers[i].ContainerSizeID;
                                                        <tr class="mainrow">
                                                            <td class="text-center">
                                                                <label class="form-label flex items-center">
                                                                    @*<input class="checkbox checkbox-sm check_@headingvalue" name="check" type="checkbox" />*@
                                                                    @Html.CheckBoxFor(m => m.containers[i].IsChecked, new { @class = "checkbox checkbox-sm check_" + headingvalue })
                                                                </label>
                                                            </td>
                                                            <td class="text-center">
                                                                @(i + 1)
                                                            </td>
                                                            <td>
                                                                <span class="text-primary font-semibold">
                                                                    <a target="_blank" href="@Url.Action("List", "Tracking", new { refid = Model.containers[i].ContainerUuid })">
                                                                        @Model.containers[i].ContainerNo
                                                                        @Html.HiddenFor(m => m.containers[i].ContainerUuid)
                                                                    </a>
                                                                </span>
                                                            </td>
                                                            <td>

                                                                @Html.TextBoxFor(m => m.containers[i].Stamp,
                                                                    new
                                                                    {
                                                                        @class = "text-gray-800 input focus-input text-right stamp",
                                                                        placeholder = "",

                                                                    })

                                                            </td>
                                                            <td>

                                                                @Html.TextBoxFor(m => m.containers[i].Weight,
                                                                    new
                                                                    {
                                                                        @class = "text-gray-800 input focus-input text-right weight",
                                                                        placeholder = "0.00",

                                                                    })

                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Persistent Booking Summary on the side -->
            <div class="booking-summary">
                <div class="summary-content" id="summarycard">
                    @Html.Partial("_SummaryFixed", new ContainerBooking()
               {
                   booking = Model.booking,
                   voyage = Model.voyage
               })
                </div>
                <div class="summary-footer">
                    <div class="flex flex-col justify-center gap-3">

                        @*<a href="@Url.Action("ContainerSelection", "Booking", new { refid = Model.booking.bookinguuid })"
                           class="btn btn-gray actionbutton">
                            Close
                        </a>*@
                        <button type="submit" name="action" value="Cabotage" class="btn btn-dark actionbutton">
                            Cabotage Download
                        </button>
                        <button type="submit" name="action" value="Shipment" class="btn btn-primary actionbutton">
                            Shipment Confirmation Download
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageScripts
{
    <script src="~/js/ContainerBooking/shipmentconfirm.js">
    </script>
}



