@using Contrack
@model Contrack.PurchaseOrderModel

<div class="card pb-0">
    <div class="card-header px-5 flex" id="basic_settings">
        <h3 class="card-title flex gap-3 align-items-center">
            @if (string.IsNullOrEmpty(Model.ContainerPO.PO.pouuid))
            {
                <span class="py-1">PO No: <span class="text-primary">New</span></span>
            }
            else
            {
                <span class="py-1">Purchase Order Information</span>
            }
        </h3>
    </div>
    <div class="card-body px-5 flex flex-col gap-4 maininfo expanded">
        <div class="grid lg:grid-cols-5 gap-4">

            <div class="w-full">
                <div class="flex flex-col items-baseline gap-2.5">
                    <label class="form-label">Company<span class="text-danger">*</span></label>

                    @if (string.IsNullOrEmpty(Model.ContainerPO.PO.pouuid))
                    {
                        @Html.DropDownListFor(m => m.ContainerPO.PO.agencydetailid.EncryptedValue,
                            new SelectList(ViewBag.AgenciesDropdown, "Value", "Text"),
                            new { @id = "ddlAgencies", @class = "form-control select2", @datarequired = "yes", @datarequired_message = "Please select Company", @style = "width:100%;", @onchange = "ValidatePOAgency(this)" })
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.ContainerPO.PO.agencydetailid.EncryptedValue)
                        @Html.DropDownListFor(m => m.ContainerPO.PO.agencydetailid.EncryptedValue,
                            new SelectList(ViewBag.AgenciesDropdown, "Value", "Text"),
                            new { @id = "ddlAgencies", @class = "form-control select2", @style = "width:100%;", @disabled = "disabled" })
                    }
                </div>
            </div>

            <div class="w-full">
                <div class="flex flex-col items-baseline gap-2.5">
                    <label class="form-label">Vendor<span class="text-danger">*</span></label>
                    <div class="w-full" id="vendor_placeholder">
                        @Html.DropDownListFor(m => m.ContainerPO.PO.vendordetailid.EncryptedValue,
                            new SelectList(ViewBag.VendorDropdown, "Value", "Text"),
                            new { @id = "ddlVendor", @class = "select2 form-control", @style = "width:100%;", @datarequired = "yes" })
                    </div>
                </div>
            </div>

            <div class="w-full">
                <div class="flex flex-col items-baseline gap-2.5">
                    <label class="form-label">Currency<span class="text-danger">*</span></label>
                    @Html.DropDownListFor(m => m.ContainerPO.PO.vendorcurrency,
                        new SelectList(ViewBag.CurrencyDropdown, "Value", "Text"),
                        new { @class = "form-control select2", @datarequired = "yes", @style = "width:100%;" })
                </div>
            </div>
        </div>

        <div class="flex row gap-4">
            <div class="flex-1">
                <div class="flex flex-col items-baseline gap-2.5">
                    <label class="form-label">Remarks</label>
                    @Html.TextAreaFor(m => m.ContainerPO.PO.comments, new { @rows = "4", @class = "textarea", @placeholder = "Remarks", @id = "txt_Remarks" })
                </div>
            </div>
        </div>

        @if (string.IsNullOrEmpty(Model.ContainerPO.PO.pouuid))
        {
            <div class="flex gap-2 justify-end">
                <button class="btn btn-primary" type="submit" name="saveaction" value="SaveHeader">
                    <i class="ki-filled ki-save-2"></i> Create Purchase Order
                </button>
            </div>
        }
    </div>
</div>