@using Contrack;
@{
    ViewBag.Title = "Users";
    ViewBag.MainManu = "Users";
    ViewBag.SubManu = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mb-5 lg:mb-7.5">
    <!-- Container -->
    <div class="container-fluid flex items-center justify-between flex-wrap gap-5">
        <div class="flex flex-col justify-center items-start flex-wrap gap-1 lg:gap-2">
            <h1 class="font-medium text-lg text-gray-900">
                User Logins
            </h1>
            <div class="flex items-center gap-1 text-sm font-normal">
                <span class="text-gray-700">
                    Home
                </span>
                <span class="text-gray-400 text-sm">
                    /
                </span>
                <span class="text-gray-700">
                    Masters
                </span>
                <span class="text-gray-400 text-sm">
                    /
                </span>
                <span class="text-gray-900">
                    User Logins
                </span>
            </div>
        </div>
        <div class="flex items-center flex-wrap gap-1.5 lg:gap-3.5">
            @if (PagePermission.GetPermissions().User.add)
            {
                <button class="dropdown-toggle btn btn-sm btn-primary" onclick="OpenUserModal('','','','')">
                    <i class="ki-filled ki-plus">
                    </i>
                    Add User Login
                </button>
            }
        </div>
    </div>
    <!-- End of Container -->
</div>

<!-- Container -->
<div class="container-fluid">
    <!-- begin: grid -->

    <div class="flex justify-between items-center gap-5 mb-4">
        <div class="btn-tabs" data-tabs="true">
            <a onclick="clearuserstate();" class="btn btn-md @(SessionManager.UserListTab==0?"active":"")" href="@Url.Action("UsersType","Master",new { Type=Common.Encrypt(0)})">
                All Users
            </a>
            <a onclick="clearuserstate();" class="btn btn-md @(SessionManager.UserListTab==1?"active":"")" href="@Url.Action("UsersType","Master",new { Type=Common.Encrypt(1)})">
                Hub Users
            </a>
            <a onclick="clearuserstate();" class="btn btn-md @(SessionManager.UserListTab==2?"active":"")" href="@Url.Action("UsersType","Master",new { Type=Common.Encrypt(2)})">
                Agency Users
            </a>
            @*<a class="btn btn-md @(SessionManager.UserListTab==3?"active":"")" href="@Url.Action("UsersType","Master",new { Type=Common.Encrypt(3)})">
                    Client Users
                </a>
                <a class="btn btn-md @(SessionManager.UserListTab==4?"active":"")" href="@Url.Action("UsersType","Master",new { Type=Common.Encrypt(4)})">
                    Vendor Users
                </a>*@
        </div>

    </div>


    <div class="grid">
        <div class="card card-grid min-w-full">
            <div class="card-header flex-wrap gap-2">
                <h3 class="card-title font-medium text-sm">
                    User Logins
                </h3>
                <div class="flex flex-wrap gap-2 lg:gap-2">
                    <div class="flex flex-wrap gap-2.5">
                        <button class="btn btn-xs btn-sm btn-light">
                            <i class="ki-filled ki-exit-down">
                            </i>
                            Download
                        </button>
                    </div>
                    <div class="flex">
                        <label class="input input-sm">
                            <i class="ki-filled ki-magnifier">
                            </i>
                            <input data-datatable-search="#TableUserLogin" placeholder="Search" type="text" value="">
                        </label>
                    </div>
                    @*<div class="flex flex-wrap gap-2.5">
                            <button class="btn btn-sm btn-outline btn-primary">
                                <i class="ki-filled ki-setting-4">
                                </i>
                                Filters
                            </button>
                        </div>*@
                </div>
            </div>
            <div class="card-body">
                <div id="TableUserLogin">
                    <div class="scrollable-x-auto">
                        <table class="table table-auto table-border align-middle text-gray-700 font-medium text-sm" data-datatable-table="true">
                            <thead>
                                <tr>
                                    <th class="min-w-[250px]" data-datatable-column="fullname">
                                        <span class="sort">
                                            <span class="sort-label">
                                                Name
                                            </span>
                                            <span class="sort-icon">
                                            </span>
                                        </span>
                                    </th>
                                    <th class="min-w-[150px]" data-datatable-column="username">
                                        <span class="sort">
                                            <span class="sort-label">
                                                User Name
                                            </span>
                                            <span class="sort-icon">
                                            </span>
                                        </span>
                                    </th>


                                    <th class="min-w-[185px]" data-datatable-column="phone">
                                        <span class="sort">
                                            <span class="sort-label">
                                                Phone
                                            </span>
                                            <span class="sort-icon">
                                            </span>
                                        </span>
                                    </th>
                                    <th class="w-[250px]">
                                        Created For
                                    </th>

                                    <th class="min-w-[150px] text-center" data-datatable-column="createdat">
                                        <span class="sort">
                                            <span class="sort-label">
                                                Created Date
                                            </span>
                                            <span class="sort-icon">
                                            </span>
                                        </span>
                                    </th>
                                    <th class="w-[150px] text-center" nowrap>
                                        Active
                                    </th>
                                    <th class="w-[150px] text-center" nowrap>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="card-footer justify-center md:justify-between flex-col md:flex-row gap-3 text-gray-600 text-2sm font-medium">
                        <div class="flex items-center gap-2">
                            Show
                            <select class="select select-sm w-16" data-datatable-size="true" name="perpage">
                            </select>
                            per page
                        </div>
                        <div class="flex items-center gap-4">
                            <span data-datatable-info="true">
                            </span>
                            <div class="pagination" data-datatable-pagination="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: grid -->
</div>
<div id="modalsection">
</div>
@section PageScripts
{
    <script src="~/js/Masters/users.js?v=1.0.2">
    </script>

}

