@model Contrack.Agency
<div class="grid">
    <div class="scrollable-x-auto">
        <div class="menu gap-3" data-menu="true">
            <div class="menu-item border-b-2 border-b-transparent menu-item-active:border-b-primary menu-item-here:border-b-primary @(ViewBag.SubManu=="AgencyInfo"?"here":"")">
                <a class="menu-link gap-1.5 pb-2 lg:pb-4 px-2" href="@Url.Action("Details","Agency",new { refid=Model.agency.uuid})">
                    <span class="menu-title text-nowrap font-medium text-sm text-gray-700 menu-item-active:text-primary menu-item-active:font-medium menu-item-here:text-primary menu-item-here:font-medium menu-item-show:text-primary menu-link-hover:text-primary">
                        Company Info
                    </span>
                </a>
            </div>
            <div class="menu-item border-b-2 border-b-transparent menu-item-active:border-b-primary menu-item-here:border-b-primary @(ViewBag.SubManu=="AgencyMod"?"here":"")">
                <a class="menu-link gap-1.5 pb-2 lg:pb-4 px-2" href="@Url.Action("Logs","Agency",new { refid=Model.agency.uuid})">
                    <span class="menu-title text-nowrap font-medium text-sm text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-item-here:text-primary menu-item-here:font-semibold menu-item-show:text-primary menu-link-hover:text-primary">
                        Company Modifications
                    </span>
                </a>
            </div>
            <div class="menu-item border-b-2 border-b-transparent menu-item-active:border-b-primary menu-item-here:border-b-primary @(ViewBag.SubManu=="AgencyUsers"?"here":"")">
                <a class="menu-link gap-1.5 pb-2 lg:pb-4 px-2" href="@Url.Action("Users","Agency",new { refid=Model.agency.uuid})">
                    <span class="menu-title text-nowrap font-medium text-sm text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-item-here:text-primary menu-item-here:font-semibold menu-item-show:text-primary menu-link-hover:text-primary">
                        Company Users
                    </span>
                </a>
            </div>
            <div class="menu-item border-b-2 border-b-transparent menu-item-active:border-b-primary menu-item-here:border-b-primary @(ViewBag.SubManu=="AgencyClients"?"here":"")">
                <a class="menu-link gap-1.5 pb-2 lg:pb-4 px-2" href="@Url.Action("Clients","Agency",new { refid=Model.agency.uuid})">
                    <span class="menu-title text-nowrap font-medium text-sm text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-item-here:text-primary menu-item-here:font-semibold menu-item-show:text-primary menu-link-hover:text-primary">
                        Clients
                    </span>
                </a>
            </div>
            <div class="menu-item border-b-2 border-b-transparent menu-item-active:border-b-primary menu-item-here:border-b-primary @(ViewBag.SubManu=="AgencyVessels"?"here":"")">
                <a class="menu-link gap-1.5 pb-2 lg:pb-4 px-2" href="@Url.Action("Vessels","Agency",new { refid=Model.agency.uuid})">
                    <span class="menu-title text-nowrap font-medium text-sm text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-item-here:text-primary menu-item-here:font-semibold menu-item-show:text-primary menu-link-hover:text-primary">
                        Vessels
                    </span>
                </a>
            </div>

        </div>
    </div>
</div>
