@using Contrack;
@model Contrack.Agency
@{
    ViewBag.Title = "Agency";
    ViewBag.MainManu = "Agencies";
    ViewBag.SubManu = "AgencyVessels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mb-5 lg:mb-7.5">
    <!-- Container -->
    <div class="container-fluid flex items-center justify-between flex-wrap gap-5">
        <div class="flex flex-col justify-center items-start flex-wrap gap-1 lg:gap-2">

            <div class="flex items-center gap-1 text-sm font-normal">
                <span class="text-gray-700">
                    Masters
                </span>
                <span class="text-gray-400 text-sm">
                    /
                </span>
                <a href="@Url.Action("List","Agency")" class="text-gray-700 hover:text-primary">
                    Companies
                </a>
                <span class="text-gray-400 text-sm">
                    /
                </span>
                <span class="text-gray-900">
                    Vessels
                </span>
            </div>
            <h1 class="font-medium text-lg text-gray-900 page-header">
                @Html.Partial("_GoBack") Company Vessels
            </h1>
        </div>

    </div>
    <!-- End of Container -->
</div>
@if (Model.agency.agencyid.NumericValue == 0)
{
    @Html.Partial("~/Views/Shared/Masters/_MasterNotFound.cshtml", new NotFound()
{
    Message = "Company not found",
    ReturnURL = Url.Action("Agencies", "Master"),
    ReturnButton = "Agencies"
})
}
else
{
    <div class="container-fluid w-full flex px-0">
        <!-- Content -->
        <main class="flex flex-col grow" id="content" role="content">

            @Html.Partial("_AgencyInfoHeader", Model)
            <div class="container-fluid">
                <div class="flex items-center flex-wrap md:flex-nowrap lg:items-end justify-between border-b border-b-gray-200 dark:border-b-coal-100 gap-3 lg:gap-6 mb-5 lg:mb-5">
                    @Html.Partial("_AgencyHeaderMenu", Model)

                    <div class="flex items-center justify-end grow lg:grow-0 lg:pb-4 gap-2.5 mb-3 lg:mb-0">
                        <a href="@Url.Action("List","Agency")" class="btn btn-xs btn-sm btn-light">
                            <i class="ki-filled ki-arrow-left">
                            </i>
                            Back to Company List
                        </a>
                        <button class="btn btn-xs btn-sm btn-light">
                            <i class="ki-filled ki-exit-down">
                            </i>
                            Download
                        </button>
                        <button class="dropdown-toggle btn btn-sm btn-primary" onclick="OpenVesselModal('','@Common.Encrypt(Model.agency.agencyid.NumericValue)')">
                            <i class="ki-filled ki-plus">
                            </i>
                            Add Vessel
                        </button>
                    </div>
                </div>
            </div>
            <!-- End of Container -->
            <!-- Container -->
            <div class="container-fluid">
                <!-- begin: grid -->

                <div class="grid">
                    <div class="card card-grid min-w-full">
                        <div class="card-header flex-wrap gap-2">
                            <h3 class="card-title font-medium text-sm">
                                Vessels
                            </h3>
                            <div class="flex flex-wrap gap-2 lg:gap-5">
                                <div class="flex">
                                    <label class="input input-sm">
                                        <i class="ki-filled ki-magnifier">
                                        </i>
                                        <input data-datatable-search="#TableVesselsAgency" placeholder="Search" type="text" value="">
                                    </label>
                                </div>
                                @*<div class="flex flex-wrap gap-2.5">
                                        <button class="btn btn-sm btn-outline btn-primary">
                                            <i class="ki-filled ki-setting-4">
                                            </i>
                                            Filters
                                        </button>
                                    </div>*@
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="TableVesselsAgency" class="custom-dt">
                                <div class="scrollable-x-auto">
                                    <table class="table table-auto table-border align-middle text-gray-700 font-medium text-sm" data-datatable-table="true">
                                        <thead>
                                            <tr>
                                                <th class="min-w-[250px]" data-datatable-column="name">
                                                    <span class="sort">
                                                        <span class="sort-label">
                                                            Vessel Name
                                                        </span>
                                                        <span class="sort-icon">
                                                        </span>
                                                    </span>
                                                </th>

                                                <th class="min-w-[185px]" data-datatable-column="email">
                                                    <span class="sort">
                                                        <span class="sort-label">
                                                            Vessel Type
                                                        </span>
                                                        <span class="sort-icon">
                                                        </span>
                                                    </span>
                                                </th>
                                                <th class="min-w-[185px]">
                                                    PIC
                                                </th>
                                                <th class="w-[250px]">
                                                    Created For
                                                </th>
                                                <th class="min-w-[150px] text-center" data-datatable-column="createdat">
                                                    <span class="sort">
                                                        <span class="sort-label">
                                                            Created Date
                                                        </span>
                                                        <span class="sort-icon">
                                                        </span>
                                                    </span>
                                                </th>
                                                <th class="w-[150px] text-center" nowrap>
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="card-footer justify-center md:justify-between flex-col md:flex-row gap-3 text-gray-600 text-2sm font-medium">
                                    <div class="flex items-center gap-2">
                                        Show
                                        <select class="select select-sm w-16" data-datatable-size="true" name="perpage">
                                        </select>
                                        per page
                                    </div>
                                    <div class="flex items-center gap-4">
                                        <span data-datatable-info="true">
                                        </span>
                                        <div class="pagination" data-datatable-pagination="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end: grid -->
            </div>
            <!-- End of Container -->

        </main>
        <!-- End of Content -->
    </div>
}

<div id="modalsection">
</div>
@section PageScripts
{
    <script src="~/js/Masters/agency.js?v=1.0.1"></script>
    <script src="~/js/Masters/vessel.js?v=1.0.1"></script>
}