@using Contrack;
@model Contrack.VesselContactDTO
<div class="modal hidden" data-modal="true" data-modal-backdrop-static="true" data-modal-autofocus="true" id="ModalVesselContact">
    <div class="modal-content modal-center max-w-[600px]">
        <div class="modal-header">
            <h3 class="modal-title">
                Add Contact
            </h3>
            <button class="btn btn-xs btn-icon btn-light" data-modal-dismiss="true">
                <i class="ki-outline ki-cross">
                </i>
            </button>
        </div>
        <div class="modal-body">
            @*<div class="model-req flex items-center grow rounded-xl border border-dashed gap-4 p-2 mb-3 border-primary bg-primary-light">
                    <i class="ki-outline ki-information-1 text-3xl text-primary">
                    </i>
                    <div class="flex flex-col gap-0.5">
                        <p class="text text-2sm font-normal">
                            Fields marked with <span class="text-danger"> * </span> are mandatory.
                        </p>
                    </div>
                </div>*@
            <form id="formVesselcontact">
                <div>
                    <div class="flex flex-col gap-5">
                        @Html.HiddenFor(m => m.vesselassignmentid.EncryptedValue)
                        @Html.HiddenFor(m => m.picid.EncryptedValue)
                        <div class="flex flex-col1 items-baseline flex-wrap lg:flex-nowrap gap-1.5">
                            <label class="form-label max-w-32">
                                Name <span class="text-danger ps-2">*</span>
                            </label>
                            <div class="flex flex-col w-full">
                                @Html.TextBoxFor(m => m.fullname, new { @class = "input", @placeholder = "Enter Name", @datarequired = "yes", @datarequired_message = "Please enter Name" })
                            </div>
                        </div>
                        <div class="flex flex-col1 items-baseline flex-wrap lg:flex-nowrap gap-1.5">
                            <label class="form-label max-w-32">
                                Email
                            </label>
                            <div class="flex flex-col w-full">
                                @Html.TextBoxFor(m => m.email, new { @class = "input", @placeholder = "Enter Email", @datarequired = "no", @datarequired_message = "Please enter Email" })
                            </div>
                        </div>
                        <div class="flex flex-col1 items-baseline flex-wrap lg:flex-nowrap gap-1.5">
                            <label class="form-label max-w-32">
                                Phone
                            </label>
                            <div class="flex flex-col w-full">
                                @Html.TextBoxFor(m => m.phone, new { @class = "input", @placeholder = "Enter Phone", @datarequired = "no", @datarequired_message = "Please enter Phone" })
                            </div>
                        </div>
                        <div class="flex flex-col1 items-baseline flex-wrap lg:flex-nowrap gap-1.5">
                            <label class="form-label max-w-32">
                                Designation
                            </label>
                            <div class="flex flex-col w-full">
                                @Html.TextBoxFor(m => m.position, new { @class = "input", @placeholder = "Enter Designation", @datarequired = "no", @datarequired_message = "Please enter Designation" })
                            </div>
                        </div>
                        <div class="flex flex-col1 items-baseline flex-wrap lg:flex-nowrap gap-1.5">
                            <label class="form-label max-w-32">

                            </label>
                            <label class="switch">
                                @Html.CheckBoxFor(m => m.isprimary)
                                @*<input name="check" type="checkbox" value="true" @(Model.isprimary ? "checked" : "") />*@
                                <span class="switch-label">
                                    Is Primary?
                                </span>
                            </label>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer justify-end">
            <div class="flex gap-4">
                <button class="btn btn-light" data-modal-dismiss="true">
                    Close
                </button>
                @*@if (PagePermission.GetPermissions().Vessel.edit)
                {*@
                    <button class="btn btn-primary" onclick="SaveVesselContact();">
                        Save
                    </button>
                @*}*@
            </div>
        </div>
    </div>
</div>