@using Contrack;
@model Contrack.VesselDTO
@{
    ViewBag.Title = "Vessel";
    ViewBag.MainManu = "Vessels";
    ViewBag.SubManu = "VesselInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mb-5 lg:mb-7.5">
    <!-- Container -->
    <div class="container-fluid flex items-center justify-between flex-wrap gap-5">
        <div class="flex flex-col justify-center items-start flex-wrap gap-1 lg:gap-2">

            <div class="flex items-center gap-1 text-sm font-normal">
                <span class="text-gray-700">
                    Masters
                </span>
                <span class="text-gray-400 text-sm">
                    /
                </span>
                <a href="@Url.Action("List","Vessel")" class="text-gray-700 hover:text-primary">
                    Vessels
                </a>
                <span class="text-gray-400 text-sm">
                    /
                </span>
                <span class="text-gray-900">
                    Vessel Info
                </span>
            </div>
            <h1 class="page-header">
                @Html.Partial("_GoBack") Vessels Info
            </h1>
        </div>

    </div>
    <!-- End of Container -->
</div>
@if (Model.vesselid.NumericValue == 0)
{
    @Html.Partial("~/Views/Shared/Masters/_MasterNotFound.cshtml", new NotFound()
{
    Message =  "Vessel not found",
    ReturnURL = Url.Action("List", "Vessel"),
    ReturnButton = "Vessels"
})
}
else
{
    <div class="container-fluid w-full flex px-0">
        <!-- Content -->
        <main class="flex flex-col grow" id="content" role="content">
            <!-- Container -->
            @Html.Partial("~/Views/Master/Vessel/_VesselInfoHeader.cshtml", Model)

            <div class="container-fluid">
                <div class="flex items-center flex-wrap md:flex-nowrap lg:items-end justify-between border-b border-b-gray-200 dark:border-b-coal-100 gap-3 lg:gap-6 mb-5 lg:mb-5">
                    @Html.Partial("~/Views/Master/Vessel/_VesselHeaderMenu.cshtml", Model)

                    <div class="flex items-center justify-end grow lg:grow-0 lg:pb-4 gap-2.5 mb-3 lg:mb-0">
                        <a href="@Url.Action("List","Vessel")" class="btn btn-xs btn-sm btn-light">
                            <i class="ki-filled ki-arrow-left">
                            </i>
                            Back to Vessels List
                        </a>
                        @*@if (PagePermission.GetPermissions().Vessel.edit)
                    {*@
                        <button class="dropdown-toggle btn btn-sm btn-primary" onclick="OpenVesselModal('@Model.vassignment.assignmentuuid');">
                            <i class="ki-filled ki-notepad-edit">
                            </i>
                            Edit Vessel
                        </button>
                        @*}*@
                    </div>
                </div>
            </div>

            <!-- End of Container -->
            <!-- Container -->
            <div class="container-fluid">
                <!-- begin: grid -->
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 lg:gap-5">
                    <div class="col-span-1">
                        <div class="grid gap-5 lg:gap-5">
                            <div class="card shadow-none1 min-w-full">
                                <div class="card-header p-3">
                                    <h3 class="card-title">
                                        Vessel Info
                                    </h3>
                                </div>
                                <div class="card-body p-0">
                                    <div class="card-table scrollable-x-auto pb-3">
                                        <table class="table align-middle text-sm text-gray-500">
                                            <tbody>

                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("Name", Model.vesselname, "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>
                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("IMO No", Model.imono, "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>
                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("MMSI No", Model.mmsino, "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>
                                                <tr>
                                                    <td class="py-3">Created For</td>
                                                    <td class="py-3 text-gray-700 text-sm font-medium">

                                                        @if (Model.vassignment.agencyid.NumericValue > 0)
                                                        {
                                                            <div class="flex items-center gap-4">
                                                                <div class="leading-none w-5 shrink-0">
                                                                    <i class="ki-filled ki-users text-warning text-2xl"></i>
                                                                </div>
                                                                <div class="flex flex-col gap-0.5">

                                                                    <span class="leading-none font-medium text-sm text-gray-900">Agency</span>
                                                                    <span class="text-2sm text-gray-700 font-normal">@Model.vassignment.agencyname</span>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="flex items-center gap-4">
                                                                <div class="leading-none w-5 shrink-0">
                                                                    <i class="ki-filled ki-people text-primary text-2xl"></i>
                                                                </div>
                                                                <div class="flex flex-col gap-0.5">

                                                                    <span class="leading-none font-medium text-sm text-gray-900">Hub</span>
                                                                    <span class="text-2sm text-gray-700 font-normal">@Model.vassignment.agencyname</span>
                                                                </div>
                                                            </div>

                                                        }


                                                    </td>
                                                    @*@if (PagePermission.GetPermissions().Vessel.edit)
                                                {*@
                                                    <td class="py-3 text-right">
                                                        <a class="btn btn-sm btn-icon btn-clear btn-primary" href="javascript:void(0);" onclick="OpenVesselModal('@Model.vassignment.assignmentuuid');"><i class="ki-filled ki-notepad-edit"></i></a>
                                                    </td>
                                                    @*}*@
                                                </tr>
                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("Vessel Type", Model.vesseltype, "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>
                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("Vessel Sub Type", Model.vesselsubtype, "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>

                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("Flag Country", Model.flagcountry, "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>

                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("Port Of Registry", Model.portofregistry, "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>

                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("Special Instructions", Model.specialinstructions.Replace("\n", "<br/>"), "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow-none1 min-w-full">
                                <div class="card-header p-3">
                                    <h3 class="card-title">
                                        Dimension &amp; Other Info
                                    </h3>
                                </div>
                                <div class="card-body p-0">
                                    <div class="card-table scrollable-x-auto pb-3">
                                        <table class="table align-middle text-sm text-gray-500">
                                            <tbody>


                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("Gross Tonnage", Model.grosstonnage.ToString(), "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>
                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("Net Tonnage", Model.nettonnage.ToString(), "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>
                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("Dead Weight", Model.deadweight.ToString(), "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>
                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("Length Overall (M)", Model.lengthoverall.ToString(), "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>
                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("Length BP (M)", Model.lengthbp.ToString(), "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>
                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("Breadth(M)", Model.breadth.ToString(), "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>
                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("Depth (M)", Model.depth.ToString(), "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>
                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("Summer Draft (M)", Model.summerdraft.ToString(), "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>
                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("Engine Power (KW)", Model.enginepowerkw.ToString(), "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>
                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("Total Aux Enginer Power (KW)", Model.totalauxenginepowerkw.ToString(), "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>
                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("Bow Thrusters", Model.bowthrusters ? "<i class='ki-filled ki-check-circle text-2xl text-success'></i>" : "", "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>
                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("Stren Thrusters", Model.sternthrusters ? "<i class='ki-filled ki-check-circle text-2xl text-success'></i>" : "", "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>
                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("Scrubber", Model.scrubberinstalled ? "<i class='ki-filled ki-check-circle text-2xl text-success'></i>" : "", "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>
                                                <tr>
                                                    @Html.Raw(Common.DisplayInfoTableWithAddEdit("SoX Control", Model.soxcompliant ? "<i class='ki-filled ki-check-circle text-2xl text-success'></i>" : "", "javascript:void(0);", "OpenVesselModal(\"" + Model.vassignment.assignmentuuid + "\");"@*, !PagePermission.GetPermissions().Vessel.edit*@))
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col gap-5">
                        <div id="section_vessel_contacts">
                            @Html.Partial("~/Views/Master/Vessel/_VesselContacts.cshtml", Model)
                        </div>

                    </div>
                </div>
                <!-- end: grid -->
            </div>
            <!-- End of Container -->

        </main>
        <!-- End of Content -->
    </div>
}

<div id="modalsection">
</div>
@section PageScripts
{
    <script src="~/js/Masters/vessel.js?v=1.0.3"></script>
    <script src="~/js/Masters/vesselcontacts.js?v=1.0.1"></script>
    <script src="~/js/site.js"></script>
    }